
 <%- include('partials/header') %>
 <%- include('partials/navbar') %>

<body>
    <div class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h3>Contamos com a sua colaboração!</h3>
          <p class="lead">Como todos sabemos, o bloco de carnaval de rua <strong>Siga La Pelota</strong> é um grupo que se destina a alegrar os corações. </p>
          <p class="lead">E de uma maneira totalmente divertida e sem fins lucrativos, reúne amigos e familiares neste encontro maravilhoso que é o carnaval, preservando e promovendo a nossa cultura, ano após ano.</p>
          <p class="lead">Com o intuito de arcar com os custos deste evento, estamos pedindo e contando com a ajuda de quem se sentir confortável em colaborar.</p>
        </div>
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Oba!</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">R$20</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Muito Obrigado</li>
              <li>Que amor</li>
              <li>Vem nos ver</li>
              <li>Ótimo</li>
            </ul>
            <form action="/paypal/20" method="get">
            <button id="button_10" type="submit" class="btn btn-lg btn-block btn-primary">R$20</button>
            </form>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Claro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">R$40</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>R$40 Reais</li>
              <li>É por uma boa causa</li>
              <li>Viva o SigaLaPelota</li>
              <li>Será Legal!</li>
            </ul>
           <form action="/paypal/40" method="get">
            <button id="button_50" type="submit" class="btn btn-lg btn-block btn-primary">R$40</button>
            </form>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Sim</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">R$60</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Muito Gratos</li>
              <li>Obrigado</li>
              <li>Gracias</li>
              <li>Contamos com a sua presença!</li>
            </ul>
            <form action="/paypal/60" method="get">
              <button id="button_100" type="submit" class="btn btn-lg btn-block btn-primary">R$60</button>
            </form>
          </div>
        </div>
      </div>
            <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Opa</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">R$80</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Viva!</li>
              <li>Que amor</li>
              <li>Vem nos ver</li>
              <li>Ótimo</li>
            </ul>
            <form action="/paypal/80" method="get">
            <button id="button_10" type="submit" class="btn btn-lg btn-block btn-primary">R$80</button>
            </form>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Sempre</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">R$90</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>R$90 Reais</li>
              <li>Amoooor!</li>
              <li>Viva o SigaLaPelota</li>
              <li>Será Legal!</li>
            </ul>
           <form action="/paypal/90" method="get">
            <button id="button_50" type="submit" class="btn btn-lg btn-block btn-primary">R$90</button>
            </form>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Feito</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">R$100</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Muito Gratos</li>
              <li>Obrigado</li>
              <li>Gracias</li>
              <li>Contamos com a sua presença!</li>
            </ul>
            <form action="/paypal/100" method="get">
              <button id="button_100" type="submit" class="btn btn-lg btn-block btn-primary">R$100</button>
            </form>
          </div>
        </div>
      </div>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="meta-box">
            <h1>Já alcançamos...</h1>
            <div class="">
                <span class="meta-box__prevista"><h3>R$ 3.000,00</h3></span>
            </div>
            <div class="progress" style="height: 50px;">
              <div class="progress-bar bg-danger" role="progressbar" style="width:<%= total%>%;" aria-valuenow="<%= total%>" aria-valuemin="0" aria-valuemax="100">R$ <%= sum %>,00</div>
            </div>
        </div>
        <div class="colaboradores-box">
        </div>
      </footer>
    </div>
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>
